

<div class="row-fluid">
    <%= content_tag :div, content_tag( :h1, 'Log In'), class: "row-fluid", style: "text-align: center;" %>
    <div class="span4 offset3">

		<%= form_tag sessions_path, class: "form-horizontal" do %>
          <%= content_tag :div, class: "control-group" do -%>
              <%= label_tag :email, 'Email', class: "control-label" %>
              <%= content_tag :div, class: "controls" do -%>
                  <%= text_field_tag :email, params[:datafile], placeholder: "s000000@student.dtu.dk" %>
              <% end -%>
          <% end -%>

          <%= content_tag :div, class: "control-group" do -%>
              <%= label_tag :password, 'Password', class: "control-label" %>
              <%= content_tag :div, class: "controls" do -%>
                  <%= password_field_tag :password, params[:password], placeholder: "your password" %>
              <% end -%>
          <% end -%>

		  <%= content_tag :div, class: "control-group" do -%>
              <%= content_tag :div, class: "controls" do -%>
                  <%= submit_tag "Log In", class: "btn btn-primary btn-large" %>
              <% end -%>
          <% end -%>
		<% end %>


		<p style="text-align: center;"> New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>