<%= content_tag :li, class: "UserPartial", user_id: user.id  do -%>
    <%= content_tag :div, class: "thumbnail" do -%>
        <%= content_tag :h5, style: "margin: 0em 0.5em 0em 0.5em" do -%>
            <% if can? :edit, user %>
                <%= link_to user.name, user_path(user) %>
                <%= link_to('Delete User', user_path(user), style: "padding-left: 1em;", class: "pull-right", method: :delete, confirm: "Do you want to permanently delete #{user.name}?") if can? :delete, user%>
                <%= link_to 'Edit', edit_user_path(user), class: "pull-right" %>
            <% else %>
                <%= link_to user.name, user_path(user) %>
            <% end %>
        <% end -%>
        <div class="row-fluid">
          <div class="ProfilePicture pull-left">
            <% if !user.profile_picture.nil? %>
                <%= image_tag get_profile_picture_user_url(user), size: "100x100", alt: "Profile picture", style: "padding: 5px;" %>
            <% else %>
                <%= image_tag 'profile-pics/av-8714.jpg', size: "100x100", style: "padding: 5px;" %>
            <% end %>
          </div>
          <div class="UserProfileAttibutes pull-left">
            <%= content_tag :div, class: "UserRoles pull-left", user_id: user.id  do -%>
                <%= render( :partial => 'users/user_roles', locals: {user: user}) %>
            <% end -%>
            <%= content_tag :div, class: "UserInspections pull-left", user_id: user.id  do -%>
                <%= render( :partial => 'users/user_inspections', locals: {user: user}) %>
            <% end -%>
          </div>
          </div>
        <div class="row-fluid">
          <%= content_tag :div, class: "GrantUserRoles", user_id: user.id  do -%>
              <%= render( :partial => 'users/user_grant_role', locals: {user: user}) %>
          <% end -%>
        </div>
    <% end -%>
<% end -%>
