<% if can? :grant_role, user %>
    <h5>Add Role</h5>
    <% campaigns = Campaign.all %>
    <% indep_insp = Inspection.where(campaign_id: nil) %>

    <%= form_tag(grant_role_user_path(user), method: :put, remote: true, class: "form-inline") do %>
        <select class="RoleSelect" id="RoleSelect" name="role">
          <%= options_for_select(Role.possible_roles, Role.possible_roles.first) %>
        </select>
        <select id="InspectionSelect" class="InspectionSelect" name="resource_id">
          <option value="">Global</option>
          <%= option_groups_from_collection_for_select(campaigns, :inspections, :name, :id, :name)  %>
          <% if !indep_insp.nil? %>
              <optgroup label="Independent Inspections">
                <%= options_from_collection_for_select(indep_insp, :id, :name) %>
              </optgroup>
          <% end %>
        </select>
        <%= submit_tag 'grant', class: "btn btn" %>
    <% end %>
<% end %>