
<h1>Update your profile</h1>

<div class="row">

		<%= form_for (@user) do |f| %>
			<%= render 'shared/error_messages' %>
      <div class="span4 pull-left">
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
      </div>
      <div class="span4 pull-left offset1">
        <%  if @user.inspections.any?    %>
            <h3>Your teams and roles</h3>
            <% @user.inspections.each do |i| %>
                <div class="row">
                  <%= i.name %>:  obtain role from participation, to make my life easier
                </div>
      <% end %>
      <% end %>
        <h3>Temporary solution, shows roles</h3>
        <% if @user.roles.any? %>

            <% @user.roles.each do |r| %>
                <div class="row">
                  <span><strong><%= r.name %></strong></span>
                  <span><%= r.resource_type %></span>
                  <span><%= r.resource_id %></span>
                </div>

            <% end %>
        <% end %>

        <h3>New teams and roles</h3>
        <%  if @campaigns.any?    %>


            <% @campaigns.each do |c| %>
                <div class="row">
                  <%= c.name %>
                  <%= select_tag "inspectionID[#{c.id}]", options_from_collection_for_select(c.inspections,
                                                           'id', 'name', c.inspections.first.id), style: "padding: 0px;" %>

                  <%= select_tag "role[#{c.id}]", options_for_select(Role.possible_roles), style: "padding: 0px;" %>
                </div>


            <% end %>
        <% end %>

      </div>


			<% the_button = f.submit "Save changes", class: "btn btn-primary btn-large" %>
			<%= content_tag(:div, the_button, style: "margin-bottom: 10px;") %>
		<% end %>



</div>