<div class="row-fluid">
  <%= form_for @user do |user| %>
      <%= render 'shared/error_messages' %>
      <div class="span6 offset3">
        <div class="UserProfileAttibutes">
          <% if current_user?(@user) %>
              <h3 style="text-align: center; margin-bottom: 0px;">Update your profile</h3>
              <%= content_tag(:h5, link_to('Delete User', user_path(@user), method: :delete, confirm: "Do you want to permanently delete #{@user.name}?"), style: "text-align: center;")  if can? @user, :delete %>
          <% else %>
              <h3 style="text-align: center; margin-bottom: 0px;">Update <%= @user.name %> profile</h3>
              <%= content_tag(:h5, link_to('Delete User', user_path(@user), method: :delete, confirm: "Do you want to permanently delete #{@user.name}?"), style: "text-align: center; margin-top: 0px;")  if can? @user, :delete %>
          <% end %>
          <%= user.label :name, class: "pull-left" %>
          <%= user.text_field :name %>

          <%= user.label :email, class: "pull-left" %>
          <%= user.text_field :email %>

          <%= user.label :skype, class: "pull-left" %>
          <%= user.text_field :skype %>

          <%= user.label :phone, class: "pull-left" %>
          <%= user.text_field :phone%>

          <%= user.label :address, class: "pull-left" %>
          <%= user.text_field :address, class: "pull-left" %>

          <%= user.label :additional_info, class: "pull-left" %>
          <%= user.text_field :additional_info %>

          <%= user.label :profile_picture, class: "pull-left" %>
          <%= user.file_field :datafile,  :accept => 'image/png,image/gif,image/jpeg' %>

          <%= user.label :password, class: "pull-left" %>
          <%= user.password_field :password %>

          <%= user.label :password_confirmation, class: "pull-left" %>
          <%= user.password_field :password_confirmation %>
        </div>
        <% attribute_button = user.submit "Save attributes", class: "btn btn-primary btn-large" %>
        <%= content_tag(:div, attribute_button, style: "margin-bottom: 10px;") %>

      </div>


<% end %>


</div>