<div class="row-fluid">
	<div class="span6 offset3">
		<%= content_tag :div, content_tag( :h1, 'Sign up'), class: "row-fluid", style: "text-align: center;" %>
		<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
          <%= content_tag :div, class: "control-group" do -%>
              <%= f.label :name, class: "control-label" %>
              <%= content_tag :div, class: "controls" do -%>
                  <%= f.text_field :name, placeholder: "FirstName LastName" %>
              <% end -%>
          <% end -%>
          <%= content_tag :div, class: "control-group" do -%>
              <%= f.label :email, class: "control-label" %>
              <%= content_tag :div, class: "controls" do -%>
                  <%= f.text_field :email, placeholder: "s000000@student.dtu.dk" %>
              <% end -%>
          <% end -%>

          <%= content_tag :div, class: "control-group" do -%>
              <%= f.label :password, class: "control-label" %>
              <%= content_tag :div, class: "controls" do -%>
                  <%= f.password_field :password, placeholder: "your password" %>
              <% end -%>
          <% end -%>
          <%= content_tag :div, class: "control-group" do -%>
              <%= f.label :password_confirmation, class: "control-label" %>
              <%= content_tag :div, class: "controls" do -%>
                  <%= f.password_field :password_confirmation, placeholder: "your password" %>
              <% end -%>
          <% end -%>

          <%= content_tag :div, class: "control-group" do -%>
              <%= content_tag :div, class: "controls" do -%>
                  <%= submit_tag "Create Account", class: "btn btn-primary btn-large" %>
              <% end -%>
          <% end -%>
          <%= content_tag :div, class: "control-group" do -%>
              <%= content_tag :div, class: "controls" do -%>
                  <h3> or <%= link_to( "Log in", signin_path) %> </h3>
              <% end -%>
          <% end -%>
		<% end %>

		
	</div>
</div>