
<div class="row-fluid">
    <h1 style="text-align: center;">
		<% if current_user?(@user) %>
          Hello, <%= @user.name %>
        <% elsif can? :edit, @user %>
          <%= link_to "#{@user.name}", edit_user_path(@user) %> profile
        <% else %>
          <%= @user.name %>  profile
        <% end %>
	</h1>
    <div class="span12">
        <div class="row-fluid">
          <div class="span6 offset3 UserProfileAttibutes">

            <div class="row-fluid">
              <div class="span12" style="text-align: center;">
                <% if !@user.profile_picture.nil? %>
                    <%= image_tag get_profile_picture_user_url(@user), size: "200x200", alt: "Profile picture", style: "padding: 5px;" %>
                <% else %>
                    <%= image_tag 'profile-pics/av-8714.jpg', size: "200x200", style: "padding: 5px;" %>
                <% end %>
              </div>
            </div>
            <div class="row-fluid">
                <div class="span3"><strong>Email</strong></div>
                <div class="span9"><%= @user.email%></div>
            </div>
            <div class="row-fluid">
                <% if !@user.skype.nil? %>
                  <div class="span3"><strong>Skype</strong></div>
                  <div class="span9"><%= @user.skype %></div>
                <% end %>
            </div>
            <div class="row-fluid">
                <% if !@user.phone.nil? %>
                  <div class="span3"><strong>Phone</strong></div>
                  <div class="span9"><%= @user.phone %></div>
                <% end %> </div>
            <div class="row-fluid">
                <% if !@user.address.nil? %>
                  <div class="span3"><strong>Address</strong></div>
                  <div class="span9"><%= @user.address %></div>
                <% end %>
            </div>
            <div class="row-fluid">
                <% if !@user.additional_info.nil? %>
                  <div class="span3"><strong>Additional Information</strong></div>
                  <div class="span9"><%= @user.additional_info %></div>
                <% end %>
            </div>
          </div>
        </div>
        <div class="row-fluid">
            <div class="span6 offset3 UserProfileAttibutes">
              <%= content_tag :div, class: "UserRoles", user_id: @user.id  do -%>
                  <%= render( :partial => 'users/user_roles', locals: {user: @user}) %>
              <% end -%>
              <%= content_tag :div, class: "GrantUserRoles", user_id: @user.id  do -%>
                  <%= render( :partial => 'users/user_grant_role', locals: {user: @user}) %>
              <% end -%>
              <%= content_tag :div, class: "UserInspections", user_id: @user.id  do -%>
                  <%= render( :partial => 'users/user_inspections', locals: {user: @user}) %>
              <% end -%>
            </div>
        </div>
        <% if @user.artifacts.any? %>
            <div class="row-fluid">
              <div class="span6 offset3 UserProfileAttibutes">
                <div class="row-fluid ArtifactsRowContainer">
                  <div class="span12 Artifacts">
                    <h3>Uploaded artifacts</h3>
                    <%= content_tag :ul, class: "thumbnails" do -%>
                        <% artifacts_html = render partial: 'artifacts/artifact', collection: @user.artifacts, as: :art %>
                        <%= artifacts_html || 'there is no artifacts'%>
                    <% end -%>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    </div>




</div>
<div class="row-fluid" style="text-align: center;">
  <% if current_user?(@user) %>
      <h3>Click <%= link_to "here", edit_user_path(@user) %>  to edit your profile</h3>
  <% end %>
</div>
