
<div class="Dock">
	<p>-></p>
	<p>c h a t</p>
</div>

<div class="ChatInner">
	<div class="row-fluid MessageWindow">
		<%= content_tag :div, class: "span12 well MessageWindowInner" do -%>
            <% puts '--------zz------------' %>
			<% if inspection.chat_messages.any? %>
				<% inspection.chat_messages.each do |msg| %>
					<% imAuthor =  User.find(msg.user_id) %>

					<div class="row-fluid MessageContainer">

						<% if current_user?(imAuthor) %>
							<div class="row-fluid AuthorDigest UserDigest">
								<span class="text-info IMTimestamp"><%= msg.created_at %> </span>
								<strong class="IMAuthor">
									<%= imAuthor.name %>
								</strong>
							</div>
						<% else %>
							<div class="row-fluid AuthorDigest">
								<strong class="IMAuthor">
									<%= imAuthor.name %>
								</strong>
								<span class="text-info IMTimestamp"><%= msg.created_at %> </span>
							</div>
						<% end -%>

						<div class="row-fluid Message">

							<% if current_user?(imAuthor) %>
								<div class="pull-right well well-small MessageInner">
									<p><%= msg.content %></p>
								</div>
							<% else %>
								<div class="pull-left well well-small MessageInner">
									<p><%= msg.content %></p>
								</div>
							<% end %>

						</div>
					</div>
				<% end %>
			<% end %>
		<% end -%>
	</div>

    <% if can? :create, ChatMessage %>
      <div class="row-fluid SendMessage">
        <div class="span12 SendMessageInner">
          <%= form_for [inspection, inspection.chat_messages.build], remote: true do |f| %>
              <div class="row-fluid ChatTypeBoxRow">
                <%= f.text_area :content, class: "ChatTypeBox pull-right", rows: 2, placeholder: "Type your answer" %>


              </div>
              <div class="row-fluid">
                <%= f.submit "Send", class: "btn btn-primary pull-right" %>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>

</div>
