<%= content_tag :div, id: "chat", class: "ChatContainer span3 pull-right"  do -%>
    <h3 style="text-align: center">Chat</h3>
    <div class="ChatInner">
      <div class="row-fluid MessageWindow">
        <%= content_tag :div, class: "span12 well MessageWindowInner" do -%>
            <%= content_tag :div, id: 'MessageContainer', class: "row-fluid MessageContainer", data: { url: inspection_chat_messages_url(inspection) } do -%>
                <% chat_html = render partial: 'chat_messages/chat_message', collection: inspection.chat_messages, as: :chat_message, locals: {inspection: inspection }   %>
                <%= chat_html || 'Be the first to write a message'%>
            <% end -%>
        <% end -%>
      </div>

      <% if can? :create, ChatMessage, inspection_id: inspection.id %>
          <div class="row-fluid SendMessage">
            <div class="span12 SendMessageInner">
              <%= form_for [inspection, inspection.chat_messages.build], remote: true do |f| %>
                  <div class="row-fluid ChatTypeBoxRow">
                    <%= f.text_area :content, id: "ChatTypeBox", class: "ChatTypeBox pull-right", rows: 2, placeholder: "Type your chat message here" %>


                  </div>
                  <div class="row-fluid">
                    <%= f.submit "Send", class: "btn btn-primary pull-right" %>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end -%>