
<% if campaign.inspections.any? %>
    <h1><%= campaign.name %></h1>
    <ul class="thumbnails">
    <% campaign.inspections.each do |insp|  %>
        <% if can? :read, insp %>
        <%= content_tag :li do -%>
            <%= content_tag :div, class: "thumbnail" do -%>
                <%= content_tag :div, class: "well well-small Artifact" do -%>
                    <%= content_tag :div, class: "row-fluid ArtifactBody" do -%>
                        <%= content_tag(:strong, insp.name, class:"ArtifactName") %>
                    <% end -%>
                <% end -%>
            <% end -%>
        <% end -%>
        <% end -%>
    <% end %>
    </ul>
<% else %>
    <strong>The campaign has not inspections</strong><a href='#'>Create inspection</a>
<% end %>