<div class="row-fluid">
  <%= form_for @campaign do |c| %>

      <div class="span6 offset3">
        <%= c.label :name %>
        <%= c.text_field :name %>

        <%= c.label :comment %>
        <%= c.text_field :comment %>

        <%= c.label :assignments, "Group assignment" %>
        <%= c.file_field :assignments %>

        <%= c.submit 'Save changes', class: "btn btn-primary btn-large" %>

        <%= content_tag(:h3, link_to('Create Inspection', new_inspection_path)) %>
        <%= content_tag(:h3, link_to('Delete Campaign', campaign_path(@campaign), method: :delete, confirm: "Do you want to delete #{@campaign.name}?"))  if can? :destroy, @campaign%>
      </div>
<% end %>
 </div>