<% if can? :create, Campaign %>
    <div class="row-fluid">
      <div class="span6 offset3">
        <h1>Create new campaign</h1>

        <!--make something with shared errors, since this is is inpection, user stuff does not work anymore-->
        <%= form_for @campaign, multipart: true do |c| %>

        <%= c.label :name %>
            <%= c.text_field :name, placeholder: "place campaign name here" %>

            <%= c.label :comment %>
            <%= c.text_field :comment, placeholder: "add comment if you want" %>

            <% text_field_tag :insp_names, placeholder: "1A, 1B, 2A, 2B, 3A, 4A"%>


            <%= c.label :assignments %>
            <%= c.file_field :assignments %>

            <%= c.submit "Create", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
<% end %>
