<% if can? :create, Remark, inspection_id: inspection.id %>
    <div class="row-fluid">
      <%= form_for [inspection, inspection.remarks.build], remote: true, class: "form-inline" do |f| %>
          <%= f.text_field :location, class: "span2 RemarkField", id: "appendedInputButton" %>
          <select id="artifact_id" name="artifact_id" class="ArtifactSelector">
            <option value="">Inspection</option>
            <%= options_for_select(inspection.artifacts.all.collect{ |c| [c.name, c.id] }) if inspection.artifacts.all.any? %>
          </select>
          <%= f.text_field :content, style: "width:auto;", class: "RemarkField" %>
          <select id="remark_type" name="remark[remark_type]" class="RemarkTypeSelector">
            <%= options_for_select(Remark.possible_remark_type) %>
          </select>
          <%= f.submit "Submit", class: "btn" %>
      <% end %>
    </div>
<% end %>