
<%= content_tag :div, id: "remarks", class: "ArtifactComments"  do -%>

    <%= render partial: 'inspections/status_bar', locals: {inspection: inspection} %>
    <%= render partial: 'inspections/deadline_bar', locals: {inspection: inspection} %>

    <div class="ArtifactCommentsInner">
      <%= content_tag :div, class: "row-fluid" do -%>


          <%= content_tag :div, class: "row-fluid", style: "text-align: center;" do -%>
              <%= content_tag :h3, "Remarks Table", class: "CommentsHeader hint--bottom hint--bounce hint--rounded", data: {hint: "The table should contain remarks for uploaded artifacts"} %>
          <% end -%>
          <table class="table table-striped table-hover" id="Remarks">

            <thead>
            <tr>
              <th class="RemarkObject">Object</th>
              <th class="RemarkLocation">Location</th>
              <th class="RemarkContent">Content</th>
              <th class="RemarkLevel">Level</th>
              <th class="RemarkAuthor">Author</th>
              <th class="RemarkCreatedAt">Created_at</th>
              <th class="RemarkUpdatedAt">Updated_at</th>
              <th style="display:none;"></th>
            </tr>
            </thead>

            <%= content_tag :tbody, class: "RemarksTable", id: "RemarksTable", data: { url: inspection_remarks_url(inspection)} do -%>

                <% remarks_html = render partial: 'remarks/remark', collection: inspection.remarks, as: :remark, locals: {inspection: inspection }  %>
                <%= remarks_html || '' %>
            <% end -%>
          </table>
      <% end -%>
      <%= render partial: 'remarks/create_remark', locals: {inspection: inspection} %>
    </div>
<% end -%>