
<%= content_tag :tr, class: "ACTR", data: { id: remark.id } do -%>
    <td class="RemarkObject">
      <%= Artifact.find(remark.artifact_id).name if !remark.artifact_id.nil?%>
    </td>
    <td class="RemarkLocation">
        <%= remark.location_to_s %>
    </td>

    <td class="RemarkContent">
        <%= remark.content %>
    </td>
    <td class="RemarkLevel">
        <%= remark.remark_type %>
    </td>
    <td  class="ACTC RemarkAuthor">
          <%  author =  User.find(remark.user_id) if !remark.user_id.nil? %>
          <%= author.name %>

    </td>
    <td class="RemarkCreatedAt">
      <%= remark.created_at.localtime.to_s.split("+").first %>
    </td>
    <td class="RemarkUpdatedAt">
      <%= remark.updated_at.localtime.to_s.split("+").first %>
    </td>
    <td>
          <% if can? :destroy, remark %>
              <%=  remarksActionPanel(remark) %>
          <% end %>
    </td>
<% end -%>
