<%= content_tag :div, id: "remarks", class: "ArtifactComments span6 pull-left"  do -%>
    <div class="ArtifactCommentsInner">
      <%= content_tag :div, class: "row-fluid" do -%>
          <table class="table table-striped table-hover">
            <caption class="CommentsHeader">
              <h5>Remarks Table</h5>
            </caption>
            <thead>
            <tr>
              <th>Location</th>
              <th>Object</th>
              <th>Remark</th>
              <th>Level</th>
              <th>Author</th>
              <th></th>
            </tr>
            </thead>
            <%= content_tag :tbody, class: "RemarksTable", id: "RemarksTable", data: { url: inspection_remarks_url(inspection)} do -%>
                <% remarks_html = render partial: 'remarks/remark', collection: @inspection.remarks, as: :remark, locals: {inspection: inspection }  %>
                <%= remarks_html || '' %>
            <% end -%>
          </table>
      <% end -%>
      <%= render partial: 'remarks/create_remark', locals: {inspection: inspection} %>
    </div>
<% end -%>