<div class="ArtifactsPanel span4 pull-left">
	<div class="row-fluid Artifact-HeaderRow">
		<div class="span12 Artifact-Header">
			<%= image_tag('icon_32/plus_32.png', alt:"stub", class: "ActionElement") %>
			<%= image_tag('icon_32/save_32.png', alt:"stub", class: "ActionElement") %>
		</div>
	</div>
	<div class="row-fluid ArtifactsRowContainer">
		<div class="span12 Artifacts">
			<ul class="thumbnails">
				<li>
					<div class="thumbnail">
						<div id="art1" class="well well-small Artifact" >
							<div class="row-fluid ArtifactBody">
								<strong class="ArtifactName">Very_long_file_name_here_2012_03_14.png</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-warning pull-left Status">in progress</span>
							</div>
							<%= artifactActionPanel_stub %>	
							
							
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art2" class="Artifact well well-small">
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 2</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-success pull-left  Status">reviewed</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art3" class="Artifact well well-small">
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 33</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-important pull-left Status">not assigned</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div  id="art4" class="Artifact well well-small">
							
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 4</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-info pull-left Status">assigned</span>
							</div>
						
							<%= artifactActionPanel_stub %>
						</div>								
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art5" class="Artifact well well-small" >
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 5</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-warning pull-left Status">in progress</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art6" class="Artifact  well well-small">
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 6</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-success pull-left  Status">reviewed</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art7" class="Artifact well well-small" >
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 7</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-important pull-left Status">not assigned</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art8" class="Artifact well well-small">
							
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 8</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-info pull-left Status">assigned</span>
							</div>
						
							<%= artifactActionPanel_stub %>
						</div>							
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art9" class="Artifact well well-small">
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 9</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-warning pull-left Status">in progress</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art10" class="Artifact  well well-small">
							<div class="row-fluid ArtifactBody">
								<strong>Artifact 10</strong>
							</div>
							<div class="row-fluid ArtifactBody">
								<span class="label label-success pull-left  Status">reviewed</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art11" class="Artifact  well well-small" >
							<div class="row-fluid  ArtifactBody">
								<strong>Artifact 11</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-important pull-left Status">not assigned</span>
							</div>
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<div id="art12" class="Artifact  well well-small">
							<div class="row-fluid  ArtifactBody">
								<strong>Artifact 12</strong>
							</div>
							<div class="row-fluid">
								<span class="label label-info pull-left Status">assigned</span>
							</div>
						
							<%= artifactActionPanel_stub %>
						</div>
					</div>
				</li>
			</ul>
		</div> <!--span12-->
	</div>
<!-- <div class="ArtifactResposible">
	<div class="row-fluid Responsible">
	   <div class="span4">
	   	<img src="profile-pics/av-8714.jpg">
	   </div>
	   <div class="span8">
	   	<h4>Alex the Inspector</h4>
	      <p>Artifact 1, Artifact 3</p>
	 	</div>   
	</div>
	<div class="row-fluid Responsible-Selected">
	   <div class="span4">
	   	<img src="profile-pics/av-8714.jpg">
	   </div>
	   <div class="span8">
	   	<h4>Alex the Inspector</h4>
	      <p>Artifact 1, Artifact 3</p>
	 	</div>   
	</div>
	<div class="row-fluid Responsible">
	   <div class="span4">
	   	<img src="profile-pics/av-8714.jpg">
	   </div>
	   <div class="span8">
	   	<h4>Alex the Inspector</h4>
	      <p>Artifact 1, Artifact 3</p>
	 	</div>   
	</div>  
	<div class="row-fluid Responsible">
	   <div class="span4">
	   	<img src="profile-pics/av-8714.jpg">
	   </div>
	   <div class="span8">
	   	<h4>Alex the Inspector</h4>
	      <p>Artifact 1, Artifact 3</p>
	 	</div>   
	</div>
	<div class="row-fluid ResponsibleConfirmation">
		<span class="span6"> Cancel </span>
		<span class="span6"> Confirm </span>
	</div>
</div> -->
				
</div>	
