
<div class="row">
	<div class="span6 offset3">
		<h1>Edit <%= @artifact.name %></h1>
			<!--make something with shared errors, since this is is inpection, user stuff does not work anymore-->
			<%= form_for @artifact do |f| %>
	    			<%= f.file_field :datafile %>
	    			<%= f.text_field :name, value: @artifact.name %>
	    			<%= f.text_field :comment, value: @artifact.comment %>
	    			<%= f.submit "Edit", class: "btn btn-primary" %>
			<% end %>
	</div>
</div>