<% if can? :read, insp %>
    <%= content_tag :li do -%>
        <%= content_tag :div, class: "thumbnail" do -%>
            <div class="row-fluid">
              <%= content_tag :h5 do -%>
                  <%= link_to("visit #{insp.name} inspection", inspection_path(insp)) %>
                  <%= link_to('edit inspection', edit_inspection_path(insp)) %>
              <% end -%>
            </div>

             <%= render partial: 'inspections/status', locals: {status: insp.status} %>

        <% end -%>
    <% end -%>
<% end -%>