<div class="">
  <%= content_tag :div, class: "chevron status#{status.titleize}", id: "status#{status.titleize}" do -%>
    <% if status == inspection.status %>
        <div class="chevron-fletching currentStatusChevronFletching"></div>
          <% if can? :change_status, inspection %>
              <%= content_tag(:div, link_to(status, change_status_inspection_path(inspection, status: status), confirm: "Change #{inspection.name} status from #{inspection.status} to #{status}?", method: :put, remote: true), class: "chevron-body currentStatusChevronBody") %>
          <% else %>
              <%= content_tag(:div, status, class: "chevron-body currentStatusChevronBody") %>
          <% end %>
        <div class="chevron-head currentStatusChevronHead"></div>
    <% else %>
        <div class="chevron-fletching"></div>
          <% if can? :change_status, inspection %>
              <%= content_tag(:div, link_to(status, change_status_inspection_path(inspection, status: status), confirm: "Change #{inspection.name} status from #{inspection.status} to #{status}?", method: :put, remote: true), class: "chevron-body") %>
          <% else %>
              <%= content_tag(:div, status, class: "chevron-body") %>
          <% end %>
        <div class="chevron-head"></div>
    <% end %>
  <% end %>
</div>
