<div class="row-fluid" id="InspectionEdit">
    <div class="span6 offset3">
      <div class="row-fluid">
          <%= content_tag :h2, @inspection.name %>
          <% if can? :change_status, @inspection %>
              <% if ((current_user.has_role(:admin, @inspection)) || (current_user.has_role(:supervisor, @inspection)))%>
                <% status_list = Inspection.admin_status_list %>
              <% else %>
                <% status_list = Inspection.status_list  %>
              <% end %>
              <div class="dropdown">
                <!-- Link or button to toggle dropdown -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                  <%= content_tag :span, @inspection.status, id: "inspectionStatus" %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <% status_list.each do |status| %>
                    <%= content_tag(:li, link_to(status, change_status_inspection_path(@inspection, status: status), confirm: "Change #{@inspection.name} status from #{@inspection.status} to #{status}?", method: :put, remote: true)) %>
                  <% end %>
                </ul>
              </div>
          <% else %>
              <%= @inspection.status %>
          <% end %>
      </div>
      <% if @inspection.users.any? %>
          <%= content_tag :h3, "Inspection participants" %>
          <%= content_tag :div, class: "InspectionParticipantsList", id: "InspectionParticipantsList" do -%>
              <% @inspection.users.each do |u| %>
                  <%= content_tag :div, class: "InspectionParticipant row-fluid well-small",  data: { user_id: u.id } do -%>
                    <%= content_tag(:span, u.name) %>
                    <%= content_tag :ul do -%>
                      <%  u.roles.where(resource_id: @inspection.id, resource_type: @inspection.class.to_s).each do |r| %>
                        <%= content_tag(:li, content_tag(:span, r.name)) %>
                      <% end %>

                      <%= link_to('delete from inspection', remove_user_inspection_path(@inspection, user_id: u.id), method: :put, confirm: "Remove #{u.name} from #{@inspection.name}", remote: true)%>
                    <% end -%>
                  <% end -%>
              <% end %>
          <% end -%>
      <% else %>
          <strong>There is no users</strong>
      <% end %>

      <div class="AddUserToInspectionList" id="AddUserToInspectionList">
        <strong class="AddUserToInspectionListToggle">Add users</strong>
        <div class="AddUserToInspectionListInner" id="AddUserToInspectionListInner">
          <% users = User.all %>
          <% if users.any? %>
              <% users.each do |u| %>
                  <%= content_tag :div,  data: { user_id: u.id }, class: "AddUserToInspection row-fluid", id: "AddUserToInspection"  do -%>
                      <%= content_tag(:span, u.name) %>
                      <%= content_tag :div,  data: { user_id: u.id }, class: "AddUserToInspectionRoles", id: "AddUserToInspectionRoles"  do -%>
                          <%= content_tag :strong, "Roles" %>
                          <%= content_tag :ul do -%>
                            <% u.roles.where(resource_id: @inspection.id, resource_type: @inspection.class.to_s).each do |r| %>
                                <%= content_tag(:li, content_tag(:span, r.name)) %>
                            <% end %>
                          <% end -%>

                          <%= content_tag :strong, "Add Role",class: "AddRoleToggle" %>
                          <div class="RolesToAssignList">
                            <%= content_tag :ul do -%>
                                <% Role.possible_roles.each do |r| %>
                                    <%= content_tag(:li, link_to("make #{r}", add_user_inspection_path(@inspection, user_id: u.id, role: r), method: :put, confirm: "Add #{u.name} to #{@inspection.name} as #{r}", remote: true, class: "AttachRoleToUserLink")) %>
                                <% end %>
                            <% end -%>
                          </div>

                      <% end -%>
                  <% end -%>
              <% end %>
          <% else %>
              <strong>No users were found, even you do not exist. Something wierd has just happen</strong>
          <% end %>
        </div>
      </div>
    </div>
</div>