<div class="row-fluid" id="InspectionEdit">
    <div class="span12">
      <div class="row-fluid">
          <%= content_tag :h3, @inspection.fullname, style: "text-align: center; margin-bottom: 0px;" %>
            <% if can? :delete, @inspection %>
                <%= content_tag :h5, style: "text-align: center; margin-top: 0em;" do -%>
                    <%= link_to('delete', inspection_path(@inspection), method: :delete, confirm: "Do you want to delete #{@inspection.fullname}?")  %>
                <% end -%>
            <% end %>
          <%= render partial: 'inspections/status_bar', locals: {inspection: @inspection} %>
          <%= render partial: 'inspections/deadline_bar', locals: {inspection: @inspection} %>
      </div>
      <% if @inspection.users.any? %>
          <%= content_tag :h3, "Inspection Participants", style: "text-align: center;"  %>
          <%= content_tag :div, class: "InspectionParticipantsList" do -%>
              <ul class="thumbnails" id="InspectionParticipants"  >
                <%= render partial: 'users/user', collection: @inspection.users, as: :user %>
              </ul>
          <% end -%>
      <% else %>
          <strong>There are no participants</strong>
      <% end %>

      <div class="AddUserToInspectionList" id="AddUserToInspectionList">
        <%= content_tag :div, class: "well well-small Artifact AddUserToInspection hint--right hint--bounce hint--rounded", data: {hint: 'Click to toggle user list'} do -%>
            <%= content_tag :div, class: "row-fluid ArtifactBody AddUserToInspectionToggle" do -%>
                <%= image_tag('icon_32/plus_32.png', alt:"Add Participant") %>
                <%= content_tag(:strong, "Add Participant", class:"ArtifactName") %>
            <% end -%>
        <% end -%>
        <div class="AddUserToInspectionListInner" id="AddUserToInspectionListInner">
          <% inspection_users = @inspection.users.map(&:id) %>
          <% users = User.all.reject{|u| inspection_users.include?(u.id)} %>
          <% if !users.nil? && users.any? %>
              <%= content_tag :h3, "Users" , style: "text-align: center;" %>
              <ul class="thumbnails" id="UserList" >
                <%= render partial: 'users/user', collection: users, as: :user %>
              </ul>
          <% else %>
              <strong>No users were found, even you do not exist. Something wierd has just happen</strong>
          <% end %>
        </div>
      </div>
    </div>
</div>