<div id="openedInspection"class="row-fluid InspectionSelected">
    <div class="span12">
      <div class="row-fluid"  style="text-align: center;">
        <h3 style="margin: 0px;">
          <% if can? :edit, @inspection %>
              <%= link_to "Inspection #{@inspection.fullname }", edit_inspection_path(@inspection) %>
          <% else %>
              <%= "Inspection #{@inspection.fullname }" %>
          <% end %>
        </h3>
      </div>
      <div class="row-fluid">
        <div class="span2 ArtifactsPanel pull-left">
            <%= render partial: 'artifacts/artifacts_list', locals: {inspection: @inspection} %>
        </div>
        <div class="span10 CentralPanel pull-left">
          <div class="span9 RemarksPanel pull-left">
            <%= render partial: 'remarks/remarks_table', locals: {inspection: @inspection} %>
          </div>
          <div class="span3 ChatPanel pull-right">
            <%= render partial: 'chat_messages/chat', locals: {inspection: @inspection} %>
          </div>
        </div>
      </div>
    </div>
</div>