<div id="openedInspection"class="row-fluid InspectionSelected">
    <div class="span12">
      <div class="row-fluid"  style="text-align: center;">
        <%=  content_tag :h3, "Inspection #{@inspection.fullname }", style: "margin: 0px;", class: "hint--bottom hint--bounce hint--rounded",
                         data:{hint: @inspection.comment.nil? ? @inspection.fullname : @inspection.comment} %>
        <% if can? :edit, @inspection %>
          <%= content_tag :h5, style: "text-align: center; margin-top: 0em;" do -%>
              <%= link_to 'edit', edit_inspection_path(@inspection), class: "hint--left hint--bounce hint--rounded",
                          data:{hint: "Edit inspection #{@inspection.fullname}"} %>
              <%= link_to('delete', inspection_path(@inspection), method: :delete, confirm: "Do you want to delete #{@inspection.fullname}?",
                          style: "margin-left: 2em;", class: "hint--right hint--bounce hint--rounded",
                          data:{hint: "Delete inspection #{@inspection.fullname}"}) if can? :destroy, @inspection %>
          <% end -%>
        <% end %>

      </div>
      <div class="row-fluid">
        <div class="span2 ArtifactsPanel pull-left">
            <%= render partial: 'artifacts/artifacts_list', locals: {inspection: @inspection} %>
        </div>
        <div class="span10 CentralPanel pull-left">
          <div class="span9 RemarksPanel pull-left">
            <%= render partial: 'remarks/remarks_table', locals: {inspection: @inspection} %>
          </div>
          <div class="span3 ChatPanel pull-right">
            <%= render partial: 'chat_messages/chat', locals: {inspection: @inspection} %>
          </div>
        </div>
      </div>
    </div>
</div>