<div class="row-fluid NavigationHeader">
			<!-- Navigation bar  -->
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container-fluid">
				<%= link_to "FIT", root_path, id:"logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", root_path %></li>
						
						<% if signed_in? %>
							<li><%= link_to "Users", '#' %></li>
                            <li><%= link_to current_user.roles.first.name, '#' %></li>
							<li class="dropdown">
								<a href='#' class="dropdown-toggle" data-toggle="dropdown">
									<%= current_user.name %> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Profile", current_user %>
									</li>	
									<li class="divider"></li>
									<li>
										<%= link_to "Sign out", signout_path, method: "delete" %>
									</li>	
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="CurrentInspection">
										<%= Inspection.first.name%></span>
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<% Inspection.all.each do |insp| %>
										<% if can? :read, insp %>
                                            <li><%= link_to insp.name, insp %></li>
                                        <% end %>
									<% end %>

                                    <% if can? :create, Inspection %>
                                        <li class="divider"></li>
                                        <li>
                                            <%= link_to "Create an inspection", new_inspection_path %>
                                        </li>
                                    <% end %>
								</ul>
							<li>

						<% else %>
							<li><%= link_to "Sign in", signin_path %></li>
						<% end %>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>